/*Navbar Styling*/
.lottie-player{
    width: 50px;
    height: 50px;
}
.navbar-brand{
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 16px;
}
.menu-item:hover{
    transform: scale(1.1);
    color: rgb(240, 135, 109)
}
.menu-item-logout{

    font-weight: bold;
    font-size: 1rem;
}
.menu-item-logout:hover{
    color: red;
    transform: scale(1.1);
}
.menu-item{
    font-size: 1rem;
    font-weight: bold;
}
.nav-item{
    margin-left: 16px;
}

/*Navbar Styling End*/

/*Body Styling*/
.hero-section-body{
    background: url("images/bg_bggenerator_com.png");
}